body {
    background-color: #170A1C;
    color: #C19AB7;

}

#container {

    width: 100%;
    height: 267px;
    text-align: center;
}

.skills-tree {
    display: inline-block;
    height: 267px;

}

div.soft-hard {
    height: 267px;
    float: right;
    margin-top: -7px;
}
.my-picture {
    float: left;
}

#picture {
    border-radius: 25px;
}