body {
    background-color: #170A1C;
    color: #C19AB7;

}

.menu-bar {

}

#container {
    padding-top: 50px;
    width: 70%;
    margin-left: 15%;
    /* background-color: blue; */
    height: 600px;
}

#container-infos {
    margin-left: 10%;
    /* background-color: orange; */
    width: 80%;
    text-align: center;
}

#container-skills {
    /* background-color: black; */
    width: 100%;
    height: 267px;
    text-align: center;
}

.skills-tree {
    /* background-color: orange; */
    display: inline-block;
    height: 267px;

}

div.soft-hard {
    height: 267px;
    float: right;
    margin-top: -7px;
}
.my-picture {
    float: left;
}

#picture {
    border-radius: 25px;
}