div:hover {
    border: 3px solid black;
}

div {
    font-family: monospace;
}

/* 
#pri {
    background-color: aqua;
}

#sec {
    background-color: blue;
}

#comp {
    background-color: blueviolet;
    height: 40px;
}

#esc {
    background-color: purple;
}

#cla {
    background-color: violet;
}

.impar {
    font-style: italic; 
}
 */