.o-list-color {
    background-color: yellow;
}

.o-list-color li:nth-child(even) {
    color: green;
}

.text-upper li:nth-child(odd) {
    text-transform: uppercase;
}

h1, h3 {
    color: red;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

ul.linguagens li:nth-of-type(n+1):nth-of-type(-n+3){
    color: blue;
}


.java {
    background-color: pink;
}

a:hover {
    font-weight: bold;
}

.links:hover li:nth-child(1) {
    background-color: orange;
}
.links:hover li:nth-child(2) {
    background-color: green;
}

.links:hover li:nth-child(3) {
    background-color: black;
}

.links:hover li:nth-child(4) {
    background-color: yellow;
}

.links:hover li:nth-child(5) {
    background-color: green;
}
